html,body{
	margin:0px;
    padding:0px;
    width: 100%;
    height: 100%;
	background:#FFDAB9;
}
.top{
    background:#F4A460;
    height:50px;
	width:100%;
	text-align:center;
	font-size:30px;
	color:#FFF;
    margin:auto;
}
div.lowbox div:hover{
	position:relative;
	top:10px;
	margin:auto;
	width:1200px;
	box-shadow: 10px 15px 30px #888888;
}
div.box{
	height:270px;
	width:200px;
	float:left;
	padding:8px;
	margin-top:50px;
	margin-left:5%;
	border-radius:10px;
	background:#FFFFFF;
	text-align:center;
}
div.box h2{
	font-size:16px;
	margin:4px;
}
div.box p{
	font-size:12px;
	color:#D3D3D3;
	margin:4px;
}
div.box h3{
	font-size:16px;
	color:#FF1111;
	margin:4px;
}
img.box-img{
	width:192px;
}
