@charset "utf-8";
/*定义的全局样式*/
a{	
	text-decoration:none;
}
body{
	margin:0px;
	padding:0px;
	color:#000000;
}
@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}
.box{
	width:90%;
	height:300px;
	margin:60px auto;
}
div.box ul,li{
	list-style:none;
}
div.box ul{
	position:relative;
	display:flex;
}
div.box li{
	flex:1;
	box-shadow: 5px 0px 10px #EEEEEE;
}
div.box input{
	display:none;
}
div.box input+label{
	display:block;
	width:100%;
	height:100%;
	background:#000;
	font-size:18px;
	text-align:center;
	line-height:80px;
	border-radius:15px 15px 0px 0px;
	box-shadow: 5px -5px 10px #CCC;
	color:#FFF;
}
div.box input+label:hover{
	background-color:#333333;
	line-height:82px;
	transition:0.1s linear;
}
div.box input+label+div{
	display:none;
	position:absolute;
	left:0;
	top:80px;
	width:100%;
	height:300px;
}
div.box input:checked+label{
	background:#CCC;
	color:#000;
}
div.box input:checked+label+div{
	display:block;
	background-color:#CCC;
}

/*定义的全局样式*/

/*定义的表格内样式*/
div.box1 img{
	margin:30px;
	width:200px;
	height:200px;
	float:left;
}
div.box1 p{
    margin-top:30px;
	width:60%;
	height:200px;
	float:left;
	font-size:25px;
}
/*定义的表格内样式*/

/*定义自己的样式
div.showme{
	height:400px;
	width:100%;
	margin-top:5%;
	margin-bottom:5%;
	clear:both;
	background-color:#FF0000;
}
div.changeleft{
	height:400px;
	float:left;
	width:4%;
	background-color:#0000FF;
}
div.changeright{
	height:400px;
	float:right;
	width:4%;
	background-color:#0000FF;
}
div.show{
	height:400px;
	width:92%;
	float:left;
	background-color:#00FF00;
}
定义自己的样式*/

/*定义白键的样式*/
div.keyborad{
	height:80px;
	width:100%;
}
div.keyborad2:hover{
    height:100px;
	transition:0.5s linear;
	color:#FFFFFF;
}
div.keyborad2{
	width:12.5%;
	height:100%;
	float:left;
	box-shadow: 5px 0px 10px #888888;
	background-color:#FFFFFF;
	border-radius:0px 0px 15px 15px;
	transition:0.3s linear;
	}
div.keyborad2 p{
	font-size:25px;
	font-family:黑体;
	text-shadow: 1px 1px 4px #ADD8E6;
	font-weight:bold;
	text-align:center;
	margin-top:3px;
}
div.keyborad2:hover{
	background-color:#DCDCDC;
	transition:0.1s linear;
}	
/*定义白键的样式*/
/*定义黑键的样式*/
div.darkborad{
	height:30px;
	width:100%;
	float:left;
}
div.keyborad3:hover{
    height:130px;
	transition:0.2s linear;
}
div.keyborad3{
	width:12.5%;
	height:100%;
	float:left;
	box-shadow: 5px 0px 10px #888888;
	background-color:#000000;
	transition:0.5s linear;
	text-align:center;
	color:#000000;
	}
div.keyborad3:hover{
	background-color:#696969;
	border-radius:0px 0px 15px 15px;
	transition:0.1s linear;
	color:#FFFFFF;
}	
/*定义黑键的样式*/